.main-header .navbar-brand{
  margin: 0;
}

.content-header {
  padding: 0;
}

.content-header>.right-buttons{
  float: right;
  position: absolute;
  top: -10px;
  right: 10px;
  padding: 7px 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.content-body {
  min-height: 250px;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
}

.content-body>.wrapper-content {
  padding: 15px 0 0 0;
}

.content-body>.wrapper-content>.col-sm-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.content-body > .wrapper-content>.col-sm-6:first-child {
  padding-left: 0;
  padding-right: 7.5px;
}

.content-body > .wrapper-content>.col-sm-6:last-child {
  padding-left: 7.5px;
  padding-right: 0;
}
